/* Test FUSS */
:root {
  --accent: #b000b5;
}
@fuss color-states() {
  @fuss color-variants() {
    @fuss color(accent, var(--accent));
  }
  @fuss color(red, #ff0);
}

/* Test Svgs */
body {
  background-image: url(./images/logo.svg);
  background-size: cover;
  background-position: right;
}
